@model IEnumerable<HomebrewApp.Models.EnemyListItem>

@{
    ViewBag.Title = "Enemies";
}

<h2>Enemies</h2>

<p>
    @Html.ActionLink("Create New Enemy", "Create", "", new { @class = "btn-lg btn-primary" })
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    @*<div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>*@
}
<div class="jumbotron">
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EnemyId }, new { @class = "btn-lg btn-warning" }) 
                    @Html.ActionLink("Details", "Details", new { id = item.EnemyId }, new { @class = "btn-lg btn-primary" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.EnemyId }, new { @class = "btn-lg btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>
