@model HomebrewApp.Models.SettingDetail

@{
    ViewBag.Title = "Setting Details";
}

<h2>Setting Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal jumbotron">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnemyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnemyName)
        </dd>

    </dl>
</div>
<p class="footer">
    @Html.ActionLink("Edit", "Edit", new {  id = Model.SettingId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
